{% include 'head.twig' %}
<body>
    <div id="wrapper"><!-- #wrapper -->
        {% include 'nav.twig' %}
        {% include 'topheader.twig' %}
        <section id="main"><!-- #main content and sidebar area -->
            <section id="content"><!-- #content -->
                <article>


                    <p>
                        Send JSON encoded POST request to http://paste.gelat.in/api/create <br>
                        Example:<br>
                    <pre class="brush: plain toolbar: false;">
curl -H "Content-Type: application/json" -H "Accept: application/json" -X POST -d '{"name":"test", "content":"my fun content", "language":"c++", "visible":true}' http://paste.gelat.in/api/create
                    </pre>
                    Valid language values:
                    <ul>
                        <li>bash</li>
                        <li>c++</li>
                        <li>c#</li>
                        <li>css</li>
                        <li>diff</li>
                        <li>java</li>
                        <li>javascript</li>
                        <li>perl</li>
                        <li>php</li>
                        <li>plain</li>
                        <li>python</li>
                        <li>ruby</li>
                        <li>sql</li>
                        <li>xml</li>
                    </ul>
                    The request returns the paste ID or an error message if something went wrong.

                    </p>
                </article>


            </section><!-- end of #content -->


        </section><!-- end of #main content and sidebar-->
        {% include 'footer.twig' %}


    </div><!-- #wrapper -->

</body>
</html>