
{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'nav.twig' %}

        <div class="jumbotron">
            <h2>API</h2>
                    <p>
                        Send JSON encoded POST request to http://pasteros.io/api/v1/create <br>
                        Example:<br>
                    <pre class="brush: plain toolbar: false;">
curl -H "Content-Type: application/json" -H "Accept: application/json" -X POST -d '{"name":"test", "content":"my fun content", "language":"c++", "visible":true}' https://pasteros.io/api/v1/create
                    </pre>
                    Example output:<br>
                    <pre class="brush: plain toolbar: false;">
                    {"id":"559a02fca369b","delete_id":"29c72082a3daffac67eb"}
                    </pre>
                    <br>
                    <br>
                    <p>
                    With v1 simple create:
                    </p>
                    <pre class="brush: plain toolbar: false;">
curl -silent -H "Expect:" --data-binary @test.txt https://pasteros.io/api/v1/simplecreate 
                    </pre>
                    Paste ID output:<br>
                    <pre class="brush: plain toolbar: false;">
                    552235abcfacd
                    </pre>
                    <br>
                    <br>
                    <p>
                    .bashrc function and alias
                    <pre class="brush: bash toolbar: false;">
                    function uploadText {
                    pasteid=$( curl -silent -H "Expect:" -X POST --data-binary @- https://pasteros.io/api/v1/simplecreate | tail -1)
                    echo "https://pasteros.io/$pasteid"  | xclip -selection c
                    }
                    alias paste=uploadText
                    </pre>
                    Usage:
                    <pre class="brush: bash toolbar: false;">
                    cat myfancyfile.py | paste
                    </pre>
                    The resulting paste URL will be copied to the clipboard.
                    <br>
                    <br>
                    <p>
                    Python
                    </p>
                    <pre>
#!/usr/bin/env python
# encoding: utf-8

#Pasteros Paste at pasteros.io

# Copyright (C) 2015
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

import requests
import sys

site = "https://pasteros.io/"
api  = "api/v1/simplecreate"
uri  = site + api
text = sys.stdin.read()

r = requests.post(uri, text)

uri = site + r.text
if r.status_code != 200:
    sys.stdout.write("Http error code:\n")
    sys.exit(r.status_code)
else:
    sys.stdout.write(uri + "\n")
                    </pre>
                    <p>
                    Using the simple create API, only the content needs to be present. Visibility, paste name and syntax highlighting are set to default.
                    </p>
                    Valid language values:
                    <ul>
                        <li>bash</li>
                        <li>c++</li>
                        <li>c#</li>
                        <li>css</li>
                        <li>diff</li>
                        <li>java</li>
                        <li>javascript</li>
                        <li>perl</li>
                        <li>php</li>
                        <li>plain</li>
                        <li>python</li>
                        <li>ruby</li>
                        <li>sql</li>
                        <li>xml</li>
                    </ul>
                    The request returns the paste ID or an error message if something went wrong.

                    </p>
        </div>
{% include 'footer.twig' %}

    </div>
</body>
</html>