{% include 'head.twig' %}
<body>
    <div id="wrapper"><!-- #wrapper -->
        {% include 'nav.twig' %}
        {% include 'topheader.twig' %}
        <section id="main"><!-- #main content and sidebar area -->
            <section id="content">
                <!-- #content -->
                <article>
                my crappy content goes here
                </article>
            </section><!-- end of #content -->
        </section><!-- end of #main content and sidebar-->
        {% include 'footer.twig' %}
    </div><!-- #wrapper -->
</body>
</html>
