{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'nav.twig' %}

        <div class="jumbotron">
            <h2>paste things</h2>
            <p>test</p>
        </div>


    {% include 'footer.twig' %}

    </div>
</body>
</html>