
{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'nav.twig' %}
        <div class="jumbotron">
            <h2>{{ fork_paste.name }} diff</h2>
                    <p>
                        diff of paste <b>{{ fork_paste.uuid }}</b> and <b>{{ parent_paste.uuid }}</b>
                    </p>
                    <p>
                        <section>
                        <a href="#" onclick="javascript:toggle_linenum();">Line # <img src="/images/page_tag_red.gif" alt="toggle" title="Show/Hide line numbers"></a> 
                        <pre class="prettyprint linenums"><code>{{ textdiff|raw }}</code></pre>
                        </section>
                    </p>

        </div>
{% include 'footer.twig' %}
    </div>
</body>
</html>