<footer>
    <p><a href="https://github.com/snacsnoc/pasteros">pasteros on github</a>
</footer> 

<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/syntaxhighlighter/shCore.js" type="text/javascript"></script>
<script src="/js/syntaxhighlighter/shAutoloader.js" type="text/javascript"></script>
 
<script type="text/javascript">
SyntaxHighlighter.autoloader(
  'javascript               /js/syntaxhighlighter/shBrushJScript.js',
  'bash                     /js/syntaxhighlighter/shBrushBash.js',
  'cpp                      /js/syntaxhighlighter/shBrushCpp.js',
  'csharp c#                /js/syntaxhighlighter/shBrushCSharp.js',
  'css                      /js/syntaxhighlighter/shBrushCss.js',
  'diff                     /js/syntaxhighlighter/shBrushDiff.js',
  'java                     /js/syntaxhighlighter/shBrushJava.js',
  'perl                     /js/syntaxhighlighter/shBrushPerl.js',
  'php                      /js/syntaxhighlighter/shBrushPhp.js',
  'plain                    /js/syntaxhighlighter/shBrushPlain.js',
  'python                   /js/syntaxhighlighter/shBrushPython.js',
  'ruby                     /js/syntaxhighlighter/shBrushRuby.js',
  'sql                      /js/syntaxhighlighter/shBrushSql.js',
  'xml                      /js/syntaxhighlighter/shBrushXml.js'
);
 
SyntaxHighlighter.all();
</script>