<!doctype html>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>pasteros > {{ title }}</title>
        <meta name="description" content="Paste anything here. Even your life.">
        <meta name="author" content="Easton E.">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="Cache-control" content="no-store">
        <link rel="author" href="humans.txt">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
        <link rel="stylesheet" href="/css/diff.css">
        <link rel="stylesheet" href="/css/prettyprint.css">
        <link rel="stylesheet" href="/css/shCore.css">
        <link rel="stylesheet" href="/css/shTheme{{ csstheme }}.css">
    </head>
