{% include 'head.twig' %}
<body>
    <div id="wrapper"><!-- #wrapper -->
        {% include 'nav.twig' %}
        {% include 'topheader.twig' %}
        <section id="main"><!-- #main content and sidebar area -->
           
            <section id="homecontent"><!-- #content -->
                <article>
                    <form name="paste" action="/add" method="post" enctype="multipart/form-data" id="paste">name <input type="text" name="name" value="" size="30" maxlength="60"> (optional)<br >
                        <textarea name="content" rows="40" cols="400"></textarea>
                        <br>
                        <select name="language">
                            <option value="bash">bash</option>
                            <option value="cpp">c++</option>
                            <option value="c#">c#</option>
                            <option value="css">css</option>
                            <option value="diff">diff</option>
                            <option value="java">java</option>
                            <option value="javascript">javascript</option>
                            <option value="perl">perl</option>
                            <option value="php">php</option>
                            <option value="plain" selected="selected">plain</option>
                            <option value="python">python</option>
                            <option value="ruby">ruby</option>
                            <option value="sql">sql</option>
                            <option value="xml">xml</option>
                        </select>
                        <br>
                        <input type="checkbox" name="visible" value="FALSE"><img src="/images/icon_padlock.gif"  title="check for private paste" ><br>
                        <input type="submit" value="Submit" title="lets go!" class="button">
                    </form>
                </article>
            </section><!-- end of #content -->
		<aside id="sidebar"><!-- sidebar -->

		                <h3>Recent</h3>
                <ul>
                    {% for item in array%}
                    <li>  {# {{ item.id }}: #} <a href="/{{ item.id }}">{{ item.name }}</a> </li>
                    {% endfor %}
                </ul>

		</aside>

        </section><!-- end of #main content and sidebar-->
        {% include 'footer.twig' %}


    </div><!-- #wrapper -->
    <!-- Free template created by http://freehtml5templates.com -->
</body>
</html>
