{% include 'head.twig' %}
<body>
    <div id="header-container">
        <header class="wrapper clearfix">
            <h1 id="title">pasteros</h1>
            {% include 'nav.twig' %}
        </header>
    </div>
    <div id="main-container">
        <div id="main" class="wrapper clearfix">
            <article>
                <header>
                    <h1>paste here</h1>
                    {% if error is not null %}
                    <b>{{ error }}</b>
                    {% endif %}
                </header>
                <section>
                    <form name="paste" action="/add" method="post" enctype="multipart/form-data" id="paste">name <input type="text" name="name" value="" size="30" maxlength="60"> (optional)<br >
                        <textarea name="content" rows="20%" cols="100%"></textarea>
                        <br>
                        <select name="language">
                            <option value="bash">bash</option>
                            <option value="cpp">c++</option>
                            <option value="c#">c#</option>
                            <option value="css">css</option>
                            <option value="diff">diff</option>
                            <option value="java">java</option>
                            <option value="javascript">javascript</option>
                            <option value="perl">perl</option>
                            <option value="php">php</option>
                            <option value="plain" selected="selected">plain</option>
                            <option value="python">python</option>
                            <option value="ruby">ruby</option>
                            <option value="sql">sql</option>
                            <option value="xml">xml</option>
                        </select>
                        <br>
                        <input type="checkbox" name="visible" value="FALSE"><img src="public/images/icon_padlock.gif"  title="check for private paste" ><br>
                        <input type="submit" value="Submit" title="lets go!">
                    </form>
                </section>
            </article>
            <aside>
                <h2>Recent</h2>
                {% for item in array%}
                {# {{ item.id }}: #} <a href="/{{ item.id }}">{{ item.name }}</a> <br>
                {% endfor %}
            </aside>
        </div>
    </div>
    {% include 'footer.twig' %}