<!-- top nav -->         
<div class="header">
    <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/api">api</a></li>
          <li><a href="/diff">diff</a></li>
    </ul>
    <h2 class="text-primary">pasteros</h2>
    <h5 class="text-muted">copy and paste your life</h5>
</div>
<!-- end top nav -->