<!-- top nav -->         
<nav>
    <div class="menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/api">api</a></li>
            <li><a href="/diff">diff</a></li>
        </ul>
    </div>
</nav>
<!-- end top nap -->