<!-- header -->
<header>
    <div id="plandesign"><img src="/images/plans.resized.png" alt="" /></div>
    <h1><a href="#">pasteros</a></h1>
    <p> copy and paste your life...        
        {% if error is not null %}
        <b>{{ error }}</b>
        {% endif %}
        {% set error = null %}
    </p>
</header>
<!-- end of header -->